.barraNavegação ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(112, 3, 48);
    position: fixed;
    top: 0;
    width: 100%;
}

.barraNavegação li {
    float: left;
}

.barraNavegação li a {
    display: block;
    color: rgb(248, 236, 236);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 30px;
}

.barraNavegação li a:hover:not(.active) {
    background-color: rgb(165, 4, 71);
    color: rgb(12, 10, 10);
}

