.butaoSigno button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff00aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .butaoSigno button:hover {background-color: #660044}
  
  .butaoSigno button:active {
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }